<div>
	<h2>Trunks Simmulator</h2>
	<%= form_for @trunks do |f| %>
		<%= f.hidden_field :id %>
		<%= f.hidden_field :qt_off %>
		<p>Total: <%= f.text_field :total %></p>
		<p>
			Online trunks:
			<%= f.text_field :qt_on %>
		</p>
		<p style="color: red">Offline trunks: <%= @trunks.qt_off %></p>
		<%= f.submit "Update" %>
	<% end %>
</div>