<!DOCTYPE html>
<html ng-app="TrunksMonitor">
<head>
  <title>TrunksMonitor</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
  <%= javascript_include_tag "apps" %>
  <%= csrf_meta_tags %>
	<style type="text/css">
	gauge {
		float: left;
	}
	</style>
</head>
<body>

<%= yield %>

</body>
</html>
